 * {
    font-family: Arial;
    text-align: center;
 }
.tag {
    color: rgb(183, 126, 19);
    font-weight: 600;
}
.header {
    font-weight: 600;
    font-size: 24px;
}
.attention {
    margin-top: -24px;
    font-size: 48px;
}
button {
    background-color: rgb(97, 97, 252);
    color: white;
    height: 36px;
    padding: 0px 18px;
    border : none;
    border-radius: 18px;
}