  * {
        font-family: sans-serif;
    }
 .cart-btn {
        height: 36px;
        padding: 0px 48px 0px;
        border: none;
        border-radius: 18px;
        background-color: rgb(255,216,20);
        color: black;
        cursor : pointer;
    }
    .cart-btn:hover {
        background-color: rgb(233, 198, 23);
    }
    .buy-btn {
          height: 36px;
        padding: 0px 48px 0px;
        border: none;
        border-radius: 18px;
        background-color: rgb(255, 145, 20);
        color: black;
        cursor : pointer;
    }
    .buy-btn:hover {
        background-color: rgb(229, 131, 19);
    }
    .price {
        color: green;
        font-weight: bold;
    }
    .link:hover {
        color: rgb(229,131,19);
    }
